body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.registration-container {
    width: 459px;
    height: 473px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.logo {
    width: 118px;
    height: 161px;
    margin: 0 auto;
}

.intro-text {
    font-size: 18px;
    color: #333;
}

.input-container {
    position: relative;
}

.input-container {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 16px;
}

.toggle-visibility {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-button {
    width: 380px;
    height: 39px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid green;
    background: white;
    color: green; 
    margin-top: 32px;
}
.login-button:hover{
    background: green;
    transition: 0.2s;
    color: white;
}

.regis-input {
    width: 380px;
    height: 39px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
}

.regis-input:focus {
    border-color: #CDCDCD;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
    outline: none;
}

.regis-eyes {
    width: 18px;
    height: 16px;
    margin-right: auto;
}